<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sample</h1>
    <p>Sample page rendered after /sample called</p>
    <p>username: <%= username %></p>
  </body>
</html>
